/***************************************
 * Modify the following options to suit
 * the needs of your own site.
 ***************************************/
$background-image: '/application/views/helix/img/header.jpg';

$color-background: #151000;
$color-foreground: #B94;
$color-accent1: #751;
$color-accent2: #999; // This should be some shade of grey for best effect.
$color-header1: #B94;

$font-family-normal: $lucida-grande;
$font-size: 12pt;
$font-ratio: 1.067;

$header-image-height: 180;

$site-width: 1150; // This is probably a sane value and should not be modified without good reason.