@import "meyerweb/reset";
@import "config";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-boxsizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    color: $color-foreground;
}