@import "config";
@import "mixins";

.hidden { display: none; }

/** Form Elements **/
.form-element {
    &.input {
        input {
            @include border-radius(3px);
            border: 1px solid $color-accent2;

            &:focus {
                border: 1px solid $color-accent1;
            }
        }
    }

    &.button {
        button {
            @include button(simple, $color-accent2);
            font-size: golden-ratio($font-size, -1);
            padding: 2px 8px;

            &:hover {
                @include button(simple, $color-accent1);
                font-size: golden-ratio($font-size, -1);
                padding: 2px 8px;
            }
        }
    }
}
